* {
	margin: 0;
	padding: 0;
}

body {
	color: hsl(0, 10%, 90%);
	background: brown url(/images/design/background-1.gif);
	font-family: helvetica, sans-serif;
	margin: 0;
}

h1, h2, #descripcion {
	text-align: center;
}

p {
	margin: 0;
}

header {
	background-color: hsl(250, 20%, 15%, .4);
	padding-top: 10px;
	
}

header h1 {
	margin-bottom: 15px;
}

header h2 {
	margin-bottom: 20px;
}

#nav {
	width: 100%;
	display: block;
	margin: auto;
	background-color: hsl(250, 20%, 15%);
	color: hsl(45, 80%, 70%);
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 30px 0;
}

li {
	display: inline;
	text-align: center;
	margin: auto;
	cursor: pointer;
	padding: 5px 40px;
	user-select: none;
}

li:hover {
	background-color: hsl(45, 80%, 70%);
	color: hsl(250, 20%, 15%);
}

/*Elementos dentro de <main>*/

.placeholder {
	width: 200px;
	height: 200px;
}

#marcos {
	display: flex;
	gap: 50px;
	justify-content: space-evenly;
	margin: 70px auto;
	max-width: 1100px;
	user-select: none;
}

.marco {
	display: grid;
}

.portada {
	width: 192px;
	height: 193px;
	margin-left: 4px;
	margin-top: 3px;
	opacity: 0; /*La opacidad está puesta en 0 en un principio para poder hacer la animación de fade in después*/
	-webkit-transition: .5s;
	transition: .5s;
}

.info {
	width: 192px;
	height: 193px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-left: 4px;
	margin-top: 3px;
	font-size: 30px;
	cursor: pointer;
	background-color: transparent;
	color: transparent;
	-webkit-transition: .3s;
	transition: .3s;
}

.info:hover {
	background-color: hsl(20, 20%, 20%, .6);
	color: white;
}

.artista {
	font-variant: small-caps;
	margin: 10px auto;
}

.titulo {
	font-style: italic;
}

.capa1, .capa2, .capa3 {
	grid-column: 1;
	grid-row: 1;
}

.capa2 {
	z-index: 3;
}

.capa3 {
	z-index: 2;
}


#descripcion {
	margin-top: 20px;
}

/* */

/*Estilo del contenido insertado dinámicamente*/

.album-content {
	border: 4px solid hsl(45, 50%, 55%);
	border-radius: 40px;
	background-color: hsl(0, 80%, 20%, .4);
	margin: 30px auto;
	padding: 20px 20px;
	width: 45%;
	max-width: 700px;
	min-width: 500px;
	opacity: 0;
	-webkit-transition: .3s;
	transition: .3s;
}

.album-content * {
	margin: 0;
}

.album-content h2 {
	margin: 10px auto;
}

.album-content h3 {
	text-align: center;
	font-style: italic;
	margin-bottom: 20px;
}

.album-content p {
	text-align: center;
}

.fade-in-active {
	opacity: 1; /*Cuando se le agregue esta clase a los elementos tras insertarlos, su opacidad cambiará. Está escrita aquí
	al final para que tenga más alto orden de prioridad que las definiciones de opacidad de los elementos que va a afectar.*/
}

/* */
